/*debug */
/* */
.col1 {
  background: palevioletred;
}
.col2 {
  background: powderblue;
}
.col3 {
  background: palegoldenrod;
}
.col4 {
  background: palegreen;
}
.col5 {
  background: lightsalmon;
}
.col6 {
  background: mediumpurple;
}
.col7 {
  background: mediumaquamarine;
}
.col8 {
  background: antiquewhite;
}
.col9 {
  background: lightcoral;
}
.col10 {
  background: steelblue;
}
/**/
.col1 {
  background: url('../img/test/star-citizen-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  background-attachment: fixed;
}
.col2 {
  background: rgba(255, 255, 255, 0.6);
}
.col6 {
  background: rgba(255, 255, 255, 0.6);
}
.col7 {
  background: url('../img/test/star-citizen-3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0;
  background-attachment: scroll;
}
.col7 .control {
  display: none;
}
/**/
.column .control {
  margin: 1em 0;
}
.column .control a {
  width: 1em;
  height: 1em;
  margin: 0.5em 0.5em 0.5em 0;
  background-color: lightgray;
  font-weight: bold;
  font-family: monospace;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}
/**/